body { /*adds background color to the whole page */
    background-color: lightblue; 
  }

  .box { /* creates a box with set borders, background colors, text color and positioning */
    background-color: #567895;
    border-color: hsl(208, 79%, 21%);
    border-top-style: solid;
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-width: thick;
    
    color: rgb(255,255,255);
    display: block;
    position: sticky; /*lets the box move around the page */
    top: 20px;
  }



  .centerLong { /*sets margins for the h1 element */
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 24em;
    margin-right: 1em;
  }

  .marginShort { /*sets margins for all the h3 elements */
    margin: 1em 1em 1em 1em;
  }

  .marginAuto { /*sets margin for the image */
    margin: auto;
    width: 42%;
  }

  .paddingLong { /*sets padding for the info under h1*/
      padding-top: 0px;
      padding-bottom: 1px;
      padding-left: 20px;
      padding-right: 1000px;
  }
  
  .paddingShort { /*Sets padding for the text under the image */
      padding: 5px 100px 0 25.5em;
  }

  .formBox { /* does the same thing as .box but with minor changes so the form box will look cleaner */
    background-color: #567895;
    border-color: hsl(208, 79%, 21%);
    border-top-style: solid;
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-width: thick;
    border-radius: 30px;
    color: rgb(255,255,255);
    display: inline-block;
    position: sticky;
    top: 20px;
  }

  .container { /*sets all the .box elements in flexboxes */
    display: flex;
    flex-flow: wrap;
    justify-content:baseline;
  }

  .grid { /*sets the content in Agenda and Unfinished buisness in a gridbox */
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;    
    grid-gap: 1em;
    justify-content:baseline;
  }

 @media print { /*sets text color when the page needs to be printed */
      div{
          color: black
      }
      a{
        color: black
      }
      li{
        color: black
      }
  }

  @media screen{ /*sets width(s) for when viewing the page on a screen */
      div{
          max-width: auto;
          min-width: auto;
       }
  }

button:hover { /*adds color when hovering over the button */
    color: blue;
}

button:active { /*adds color when clicking the button */
    color: darkseagreen;
}

#highlight { /*highlights any elements with the highlight id */
    background-color: lightcoral;
  }

  * i{ /*sets color to any i elements */
    color: black;
  }
  * em{ /*sets color to any em elements */
    color: black;
  }

  ol[type="listOrdered"] { /*sets bullet points shape for the ordered list */
    list-style-type:disc;
  }

  h1, h3 {  /*makes h1 and h3 text italicized */
      font-style:oblique; 
}

ul a{ /*sets text in ul to black */
    color: black;
}

div > p { /*sets any p elements under div to light blue */
    color: rgb(191, 215, 224);
  }

input ~ label { /*sets any label near an input element to italics*/
    font-style:italic;
    /* color: purple; */
}

summary + p { /*sets any p next to a summary element to italics */
    /* font-weight: bold; */
    /* color: purple */
    font-style: italic;
}
video + p { /*sets any p next a video element to italics*/
    /* font-weight: bold;
    color: purple */
    font-style: italic;
}

main .box{ /*sets any .box that is a child of main to a certian border radius */
    border-radius: 30px;
}