body {
    background-color: lightblue; 
  }

  .box {
    background-color: #567895;
    border-color: hsl(208, 79%, 21%);
    border-top-style: solid;
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-width: thick;
    border-radius: 30px;
    color: rgb(255,255,255);
    display: block;
    position: sticky;
    top: 20px;
  }



  .centerLong {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 24em;
    margin-right: 1em;
  }

  .marginShort {
    margin: 1em 1em 1em 1em;
  }

  .marginAuto {
    margin: auto;
    width: 42%;
  }

  .paddingLong {
      padding-top: 0px;
      padding-bottom: 1px;
      padding-left: 20px;
      padding-right: 1000px;
  }
  
  .paddingShort {
      padding: 5px 100px 0 25.5em;
  }

  .formBox {
    background-color: #567895;
    border-color: hsl(208, 79%, 21%);
    border-top-style: solid;
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-width: thick;
    border-radius: 30px;
    color: rgb(255,255,255);
    display: inline-block;
    position: sticky;
    top: 20px;
  }

  .container {
    display: flex;
    flex-flow: wrap;
    justify-content:baseline;
  }

  